.root {
    -fx-font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
}

/* ========== PANEL IZQUIERDO ========== */
#panel_control {
    -fx-background-color: #f3f4f6;
    -fx-padding: 20;
    -fx-border-color: #e5e7eb;
    -fx-border-width: 0 1 0 0;
}

.titulo_control {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #374151;
}

#boton_reiniciar {
    -fx-background-color: #f3f4f6;
    -fx-text-fill: #047857;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

#boton_reiniciar:hover {
    -fx-cursor: hand;
}

.label_campo {
    -fx-font-size: 12px;
    -fx-text-fill: #6b7280;
}

#input_nuevo_nombre {
    -fx-background-color: white;
    -fx-border-color: #d1d5db;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 8;
}

#button_conectar {
    -fx-background-color: #047857;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 6;
    -fx-padding: 8 15;
}

#button_conectar:hover {
    -fx-background-color: #065f46;
}

.label_conectados {
    -fx-font-weight: 600;
    -fx-font-size: 14px;
    -fx-text-fill: #4b5563;
}

.panel_scroll {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.tarjeta_cliente {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-padding: 12;
    -fx-spacing: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 4, 0, 0, 2);
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 8;
}

.nombre_cliente {
    -fx-font-weight: bold;
    -fx-text-fill: #1f2937;
}

.campo_entrada {
    -fx-background-color: #f9fafb;
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 5;
    -fx-font-size: 12px;
}

.boton_enviar {
    -fx-background-color: #047857;
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-cursor: hand;
}

.boton_enviar:hover {
    -fx-background-color: white;
    -fx-text-fill: #047857;
    -fx-border-color: #047857;
    -fx-border-radius: 4;
}

/* ============ PANEL DERECHO: Chat General =========== */
#panel_chat_general {
    -fx-background-color: white;
}

#contenedor_chat_encabezado {
    -fx-padding: 15;
    -fx-background-color: #ffffff;
    -fx-border-color: #e5e7eb;
    -fx-border-width: 0 0 1 0;
}

#label_titulo_chat {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #111827;
}

#label_estado_conexion {
    -fx-text-fill: #10b981;
    -fx-font-size: 12px;
}

#chat {
    -fx-background-color: #f9fafb;
}

#contenedor_chat_cuerpo {
    -fx-padding: 20;
}

/* Mensajes */
.mensaje {
    -fx-padding: 10 14;
    -fx-background-radius: 12;
    -fx-max-width: 500;
}

.mensaje_recibido {
    -fx-background-color: #ffffff;
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 12;
    -fx-text-fill: #374151;
}